<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wx.elephant.biz.mapper.CardMapper">
    <!-- [START] Allison 1875 Lot No: PG0808R-E326B95E (don't modify manually) -->

    <resultMap id="all" type="cn.wx.elephant.biz.bean.entity.CardEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="name_sort" property="nameSort"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="all">
        `id`, `name`, `type`, `name_sort`, `create_time`, `update_time`
    </sql>

    <insert id="insert" parameterType="cn.wx.elephant.biz.bean.entity.CardEntity">
        <!-- @formatter:off -->
        INSERT INTO `card`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null"> `id`, </if>
            <if test="name!=null"> `name`, </if>
            <if test="type!=null"> `type`, </if>
            <if test="nameSort!=null"> `name_sort`, </if>
            <if test="createTime!=null"> `create_time`, </if>
            <if test="updateTime!=null"> `update_time`, </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id!=null"> #{id}, </if>
            <if test="name!=null"> #{name}, </if>
            <if test="type!=null"> #{type}, </if>
            <if test="nameSort!=null"> #{nameSort}, </if>
            <if test="createTime!=null"> #{createTime}, </if>
            <if test="updateTime!=null"> #{updateTime}, </if>
        </trim>
        <!-- @formatter:on -->
    </insert>

    <insert id="batchInsert">
        <!-- @formatter:off -->
        <foreach collection="entities" item="one" separator=";">
            INSERT INTO `card`
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="one.id!=null"> `id`, </if>
                <if test="one.name!=null"> `name`, </if>
                <if test="one.type!=null"> `type`, </if>
                <if test="one.nameSort!=null"> `name_sort`, </if>
                <if test="one.createTime!=null"> `create_time`, </if>
                <if test="one.updateTime!=null"> `update_time`, </if>
            </trim>
            <trim prefix="VALUE (" suffix=")" suffixOverrides=",">
                <if test="one.id!=null"> #{one.id}, </if>
                <if test="one.name!=null"> #{one.name}, </if>
                <if test="one.type!=null"> #{one.type}, </if>
                <if test="one.nameSort!=null"> #{one.nameSort}, </if>
                <if test="one.createTime!=null"> #{one.createTime}, </if>
                <if test="one.updateTime!=null"> #{one.updateTime}, </if>
            </trim>
        </foreach>;
        <!-- @formatter:on -->
    </insert>

    <insert id="batchInsertEvenNull">
        <!-- @formatter:off -->
        INSERT INTO `card`
            ( <include refid="all"/> )
        VALUES
            <foreach collection="entities" item="one" separator=",">(
                #{one.id}, #{one.name}, #{one.type}, #{one.nameSort}, #{one.createTime}, #{one.updateTime}
            )</foreach>
        <!-- @formatter:on -->
    </insert>

    <update id="batchUpdate">
        <foreach collection="entities" item="one" separator=";">
            <!-- @formatter:off -->
            UPDATE `card`
            <set>
                <if test="one.name!=null"> `name` = #{one.name}, </if>
                <if test="one.type!=null"> `type` = #{one.type}, </if>
                <if test="one.nameSort!=null"> `name_sort` = #{one.nameSort}, </if>
                <if test="one.createTime!=null"> `create_time` = #{one.createTime}, </if>
                <if test="one.updateTime!=null"> `update_time` = #{one.updateTime}, </if>
            </set>
            WHERE TRUE
              AND `id` = #{one.id}
            <!-- @formatter:on -->
        </foreach>
    </update>

    <update id="batchUpdateEvenNull">
        <foreach collection="entities" item="one" separator=";">
            <!-- @formatter:off -->
            UPDATE `card`
            SET
                `name` = #{one.name},
                `type` = #{one.type},
                `name_sort` = #{one.nameSort},
                `create_time` = #{one.createTime},
                `update_time` = #{one.updateTime}
            WHERE TRUE
              AND `id` = #{one.id}
            <!-- @formatter:on -->
        </foreach>
    </update>

    <select id="queryById" parameterType="Long" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `card`
        WHERE TRUE
          AND `id` = #{id}
        <!-- @formatter:on -->
    </select>

    <update id="updateById" parameterType="cn.wx.elephant.biz.bean.entity.CardEntity">
        <!-- @formatter:off -->
        UPDATE `card`
        <set>
            <if test="name!=null"> `name` = #{name}, </if>
            <if test="type!=null"> `type` = #{type}, </if>
            <if test="nameSort!=null"> `name_sort` = #{nameSort}, </if>
            <if test="createTime!=null"> `create_time` = #{createTime}, </if>
            <if test="updateTime!=null"> `update_time` = #{updateTime}, </if>
        </set>
        WHERE TRUE
          AND `id` = #{id}
        <!-- @formatter:on -->
        </update>

    <update id="updateByIdEvenNull" parameterType="cn.wx.elephant.biz.bean.entity.CardEntity">
        <!-- @formatter:off -->
        UPDATE `card`
        SET
            `name` = #{name},
            `type` = #{type},
            `name_sort` = #{nameSort},
            `create_time` = #{createTime},
            `update_time` = #{updateTime}
        WHERE TRUE
          AND `id` = #{id}
        <!-- @formatter:on -->
    </update>

    <select id="queryByIds" parameterType="Long" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `card`
        WHERE TRUE
          AND `id` IN (<foreach collection="ids" item="one" separator=",">#{one}</foreach>)
        <!-- @formatter:on -->
    </select>

    <select id="queryByIdsEachId" parameterType="Long" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `card`
        WHERE TRUE
          AND `id` IN (<foreach collection="ids" item="one" separator=",">#{one}</foreach>)
        <!-- @formatter:on -->
    </select>

    <select id="queryByEntity" parameterType="cn.wx.elephant.biz.bean.entity.CardEntity" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `card`
        WHERE TRUE
          <if test="id!=null"> AND `id` = #{id} </if>
          <if test="name!=null"> AND `name` = #{name} </if>
          <if test="type!=null"> AND `type` = #{type} </if>
          <if test="nameSort!=null"> AND `name_sort` = #{nameSort} </if>
          <if test="createTime!=null"> AND `create_time` = #{createTime} </if>
          <if test="updateTime!=null"> AND `update_time` = #{updateTime} </if>
        <!-- @formatter:on -->
    </select>

    <select id="listAll" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `card`
        WHERE TRUE
        <!-- @formatter:on -->
    </select>

    <insert id="insertOrUpdate" parameterType="cn.wx.elephant.biz.bean.entity.CardEntity">
        <!-- @formatter:off -->
        INSERT INTO `card`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null"> `id`, </if>
            <if test="name!=null"> `name`, </if>
            <if test="type!=null"> `type`, </if>
            <if test="nameSort!=null"> `name_sort`, </if>
            <if test="createTime!=null"> `create_time`, </if>
            <if test="updateTime!=null"> `update_time`, </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id!=null"> #{id}, </if>
            <if test="name!=null"> #{name}, </if>
            <if test="type!=null"> #{type}, </if>
            <if test="nameSort!=null"> #{nameSort}, </if>
            <if test="createTime!=null"> #{createTime}, </if>
            <if test="updateTime!=null"> #{updateTime}, </if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="name!=null"> `name` = #{name}, </if>
            <if test="type!=null"> `type` = #{type}, </if>
            <if test="nameSort!=null"> `name_sort` = #{nameSort}, </if>
            <if test="createTime!=null"> `create_time` = #{createTime}, </if>
            <if test="updateTime!=null"> `update_time` = #{updateTime}, </if>
        </trim>
        <!-- @formatter:on -->
    </insert>

    <!-- [END] Allison 1875 Lot No: PG0808R-E326B95E (don't modify manually) -->
</mapper>